body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 25px;
}
.header {
  border-left: 7px solid;
  border-color: tomato;
}
.text-align {
  text-align: center;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 55%;
}
.link-button {
  text-decoration: none;
  background-color: tomato;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
}
.mission-div-1 {
  background-color: rgb(150, 255, 255);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
  box-shadow: 10px 10px gray;
  height: 60%;
  width: 40%;
  padding: 40px;
}
.mission-div-2 {
  background-color: rgb(255, 177, 245);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
  box-shadow: 10px 10px gray;
  height: 60%;
  width: 40%;
  padding: 40px;
}
.mission-div-3 {
  background-color: rgb(254, 255, 177);
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
  box-shadow: 10px 10px gray;
  height: 60%;
  width: 40%;
  padding: 40px;
}
.footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
